@import url(root.css);

#profile {
    margin-top: 100px;
}

#about,
#services,
#cases1,
#cases2,
#cases3,
#cta,
#footer {
    padding-top: 12rem;
    background-color: var(--bg);
}

.nav-links li a {
    color: var(--text);
}

.scrolled {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
    margin: 0;
}

.block {
    width: 100px;
    height: 6px;
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    margin: 0 auto 1rem auto;
    border-radius: 5px;
}

.glass-navbar {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.268);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#services h2,
#cases1 h2,
#cases2 h2,
#cases3 h2,
#cta h2,
#maintenance-plans h2,
#prices h2 {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
    background-color: var(--bg);
}

#title {
    color: var(--text);
    text-align: left;
    padding: 1rem;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.cards-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-width: 300px;
    justify-content: center;
}

.cards-menu .button .glass-btn,
#cta .glass-btn,
#about .glass-btn {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 30px;
    color: #fff !important;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.glass-btn {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#about .title {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#about .parr {
    text-align: center;
    color: var(--text);
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#about .but {
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: var(--bg) !important;
}

#about .button-class {
    padding: 2rem;
    text-align: center;
}

.me {
    margin: 0 auto;
    margin: 3rem auto 0 auto;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.me img {
    width: 300px;
    height: auto;
}

.me h3 {
    color: var(--text);
    font-size: 2rem;
    margin-top: 1rem;
}

.me p {
    color: var(--text);
    font-size: 1.2rem;
    width: 90%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.me .fa-solid,
.me .fa-regular {
    color: var(--text);
    font-size: 1.5rem;
    padding: 1rem;
}

.me .textt {
    font-weight: bold;
    color: var(--text);
}

#services p,
#cases1 p,
#cases2 p,
#cases3 p {
    text-align: center;
    color: var(--text);
    font-size: 1.2rem;
    margin: 1rem auto;
    width: 80%;
}

#projects #static-modal .modal-back,
#projects #static-modal2 .modal-back,
#projects #static-modal3 .modal-back,
#projects #static-modal4 .modal-back {
    background: var(--bg) !important;
    backdrop-filter: blur(10px);
    border-radius: 30px;

    color: var(--text);
    margin-top: 7rem;
}

#projects #static-modal3 h3,
#projects #static-modal2 h3,
#projects #static-modal h3,
#projects #static-modal4 h3 {
    font-size: 1.7rem !important;
    font-weight: bold !important;
}

#projects #static-modal3 h4,
#projects #static-modal2 h4,
#projects #static-modal h4,
#projects #static-modal4 h4 {
    font-size: 1.3rem !important;
}

#projects #static-modal3 .fa-brands,
#projects #static-modal2 .fa-brands,
#projects #static-modal .fa-brands,
#projects #static-modal3 .fa-solid,
#projects #static-modal2 .fa-solid,
#projects #static-modal .fa-solid,
#projects #static-modal4 .fa-brands,
#projects #static-modal4 .fa-solid {
    font-size: 4rem !important;
    margin-right: 1rem;
    color: var(--text);
}

#static-modal4{
    margin-top: 3rem;
    height: auto;
}

.parallax p{
    font-size: 1rem !important;
    padding:   0  3rem 0 3rem !important;
}


#cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

#cta a {
    color: antiquewhite !important;
    padding: 1rem;

}

#cta .bottons {
    color: antiquewhite !important;
}

#services .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
}

.service-card {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 400px;
}

.service-card i {
    font-size: 2rem;
    color: antiquewhite;
    margin-bottom: 1rem;
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.benefits {
    width: 100%;
    margin-top: 5rem;
}


.benefits h2 {
    color: var(--text);
    font-size: 2rem;
    margin-top: 1rem;
    text-align: center;
}

.benefits p {
    text-align: center;
    color: var(--text);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.benefit {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--primary-confiweb);
    width: 100%;
}

.benefit-container {
    display: grid;
    grid-template-rows: auto auto;
    width: 100%;
    margin: 0;
}

.benefit-container h3 {
    font-size: 2rem;
    font-weight: bold;
}

.benefit-container i {
    font-size: 2rem;
    color: var(--text);
    text-align: center;
}

.benefit-container .left {
    margin-left: 1rem;
    margin-right: 0.5rem;
    text-align: center;
}

.benefit-medium{
    flex-direction: column-reverse;
}

.benefit-container .medium {
    text-align: center;
    margin-right: 1rem;
    margin-left: 0.5rem;

}

.benefit img {
    width: 100%;
    height: auto;
}

.benefits .button-class {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.benefits .button-class h3 {
    color: var(--text);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top: 4rem;
}

#maintenance-plans {
    margin-top: 2rem;
    text-align: center;
    border: transparent;
    display: flex;
    flex-wrap: wrap;
}

.prices {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)) !important;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;

}

#maintence-plans {
    border: transparent;
}

.maintenance-plans-card,
.prices-card {
    border-radius: 30px;
    transition: all 0.3s ease;
}

.maintenance-plans-card:hover,
.prices-card:hover {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: var(--text);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.prices-card .btn,
.maintenance-plans-card .btn {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    width: auto;
    margin-top: 1rem;
    padding: .7rem 1rem;
    transform: translateY(0);
}

.mantenance-content p {
    max-width: 1010px !important;
    width: 80% !important;
}

.prices li {
    border: transparent;
}

.prices-card {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#cta-cities {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;
    text-align: center;
    gap: 4rem;
    margin-bottom: 4rem;
    margin-top: 4rem;

}

#cta-cities .cta-section {
    max-width: 500px;
}

#cta-cities h2 {
    font-size: 1.9rem;
    color: var(--text);
    margin-bottom: 1rem;
}

#cta-cities p {
    font-size: 1.2rem;
    color: var(--text);
    margin-bottom: 2rem;
    text-align: center;
    max-width: 600px;
}

#cta-cities ul {
    list-style: none;
    padding: 0;
}

#cta-cities ul li {
    margin-bottom: 0.5rem;
    padding: .2rem;
}

#cta-cities ul li:hover a {
    color: var(--primary-confiweb);
    text-align: center;



}

#cta {
    background-image: url(/files/background-cta.webp);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    margin-top: 3rem;
}

#cta h2 {
    margin-bottom: 3rem;
    background: none;
    color: antiquewhite;
}

#cta p {
    margin-bottom: 2rem;
    color: antiquewhite;
    font-size: 1.2rem;
    text-align: center;
}

#cta a {
    display: inline-block;
    padding: 1rem 2rem;
    color: var(--text) !important;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
}

footer {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--footer-text);
    text-align: center;
    padding: 2rem 0;
    margin-top: 5rem;
}

footer a,
footer li {
    padding: 0;
}

footer .icons {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-confiweb {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


@media (min-width: 1030px) {
    #about .title {
        margin-left: 10rem;
        margin-right: 10rem;
        font-size: 4rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    #about .parr {
        margin-left: 10rem;
        margin-right: 10rem;
        padding-top: 3rem;
        font-size: 1.5rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    #services .cards {
        max-width: 1200px;
        margin: 0 auto;
        align-items: start;
    }

    footer img {
        width: auto;
        height: 850px;
    }

    footer .text-heading {
        font-size: 2rem;
    }

    .benefits {
        width: 100%;
        margin-top: 5rem;
    }

    .benefit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        gap: 1rem;
        background-color: var(--primary-confiweb);
        width: 100%;
    }

    .benefits h2 {
        color: var(--text);
        font-size: 2rem;
        margin-top: 1rem;
        text-align: center;
    }

    .benefits p {
        text-align: center;
        color: var(--text);
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .benefit-container {
        display: grid;
        grid-template-rows: auto auto;
        width: 100%;
        margin: 0;
    }

    .benefit-container h3 {
        font-size: 2rem;
        font-weight: bold;
    }

    .benefit-container i {
        font-size: 4rem;
        color: var(--text);
        margin-bottom: 1rem;
        text-align: start;

    }

    .benefit-container .left {
        margin-left: 1rem;
        margin-right: 0.5rem;
        text-align: left;
    }

    .benefit-container .medium {
        text-align: right;
        margin-right: 1rem;
        margin-left: 0.5rem;

    }

    .benefit img {
        width: 50%;
        height: auto;
    }

    .benefits .button-class {
        margin-top: 2rem;
        margin-bottom: 2rem;
        text-align: center;
    }

    .benefits .button-class h3 {
        color: var(--text);
        margin-bottom: 1rem;
        font-size: 1.5rem;
        margin-top: 4rem;
    }

    
}


.card {
    transform-style: preserve-3d;
    transition: transform .3s ease;
}

.card:hover {
    transform: translateY(-6px) rotateX(4deg) rotateY(-4deg);
}

.card:hover .card-bg {
    transform: translateZ(20px);
}