@import url(root.css);

#profile {
    margin-top: 100px;
}


#services,
#cases,
#cta,
#footer {
    padding-top: 10rem;
}

.nav-links li a {
    color: antiquewhite;
}

.scrolled {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 0;
}


.glass-navbar {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.268);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#services h2,
#cases h2,
#cta h2 {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
}

#services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.service-card {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card i {
    font-size: 2rem;
    color: var(--secondary);
    margin-bottom: 1rem;
}

#cta {
    text-align: center;

}

#cta h2 {
    margin-bottom: 3rem;
}

#cta a {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--secondary);
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
}

footer {
    background: var(--secondary);
    color: var(--footer-text);
    text-align: center;
    padding: 2rem 0;
    margin-top: 5rem;
}