@import url(root.css);

#profile {
    margin-top: 100px;
}

#about,
#services,
#cases,
#cta,
#footer {
    padding-top: 12rem;
    background-color: var(--bg);
}

.nav-links li a {
    color: var(--text);
}

.scrolled {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
    margin: 0;
}

.block {
    width: 100px;
    height: 6px;
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    margin: 0 auto 1rem auto;
    border-radius: 5px;
}

.glass-navbar {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.268);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#services h2,
#cases h2,
#cta h2,
#maintenance-plans h2,
#prices h2 {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
    background-color: var(--bg);
}

#title {
    color: var(--text);
    text-align: left;
    padding: 1rem;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.cards-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    min-width: 300px;
    justify-content: center;
}

.cards-menu .button .glass-btn,
#cta .glass-btn,
#about .glass-btn {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: none;
    border-radius: 30px;
    color: #fff !important;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cards-menu .button .glass-btn:hover,
#cta .glass-btn:hover,
#about .title {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
    letter-spacing: .1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#about .parr {
    text-align: center;
    color: var(--text);
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

#about .but {
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: var(--bg) !important;
}

#about .button-class {
    padding: 2rem;
    text-align: center;
}

#services p,
#cases p {
    text-align: center;
    color: var(--text);
    font-size: 1.2rem;
    margin: 1rem auto;
    width: 80%;
}



#cta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5rem;
}

#cta a {
    color: var(--text) !important;
    padding: 1rem;

}

#services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.service-card {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card i {
    font-size: 2rem;
    color: antiquewhite;
    margin-bottom: 1rem;
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#maintenance-plans {
    margin-top: 2rem;
    text-align: center;
    border: transparent;
    display: flex;
    flex-wrap: wrap;
}

.prices {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)) !important;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#maintence-plans {
    border: transparent;
}

.maintenance-plans-card,
.prices-card {
    border-radius: 30px;
    transition: all 0.3s ease;
}

.maintenance-plans-card:hover,
.prices-card:hover {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: var(--text);
}

.prices-card .btn,
.maintenance-plans-card .btn {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    width: auto;
    margin-top: 1rem;
    padding: .7rem 1rem;
}

.prices li {
    border: transparent;
}

#cta-cities {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    text-align: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

#cta-cities .cta-section {
    max-width: 300px;
}

#cta-cities h2 {
    font-size: 1.5rem;
    color: var(--text);
    margin-bottom: 1rem;
}

#cta-cities p {
    font-size: 1.2rem;
    color: var(--text);
    margin-bottom: 2rem;
    text-align: center;
    max-width: 600px;
}

#cta-cities ul {
    list-style: none;
    padding: 0;
}

#cta-cities ul li {
    margin-bottom: 0.5rem;
    padding: .2rem;
}

#cta-cities ul li:hover a {
    color: var(--secondary-confiweb);
    text-align: center;



}

#cta h2 {
    margin-bottom: 3rem;
}

#cta p {
    margin-bottom: 2rem;

    text-align: center;
}

#cta a {
    display: inline-block;
    padding: 1rem 2rem;
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
}

footer {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--footer-text);
    text-align: center;
    padding: 2rem 0;
    margin-top: 5rem;
}

footer a,
footer li{
padding: 0;
} 

.arrow-confiweb {
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb)) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}