@import url(root.css);

#profile {
    margin-top: 100px;
}

#profile .content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: antiquewhite;
}

#profile .content p {
    font-size: 1.2rem;
    color: antiquewhite;
    max-width: 600px;
    line-height: 1.6;
    padding: 1rem;
}

#profile .content a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: antiquewhite;
    text-decoration: none;
}


#services,
#cases,
#cta,
#footer {
    padding-top: 10rem;
}

.nav-links li a {
    color: antiquewhite;
}