@import url(root.css);

#profile {
    margin-top: 100px;
}


#services,
#cases,
#cta,
#footer {
    padding-top: 10rem;
}

.nav-links li a {
    color: antiquewhite;
}

.scrolled {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
    margin: 0;
}


.glass-navbar {
    transition: background 0.3s ease, box-shadow 0.3s ease;
    background: rgba(255, 255, 255, 0.268);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#services h2,
#cases h2,
#cta h2 {
    text-align: center;
    color: var(--text);
    font-size: 2rem;
}

#services p {
    text-align: center;
    color: var(--text);
    font-size: 1.2rem;
    margin-top: 1rem;
}

.block {
    width: 100px;
    height: 6px;
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    margin: 0 auto 1rem auto;
    border-radius: 5px;
}
/* 
.block2 {
    width: 100%;
    height: 100px;
    top: 0;
    margin-top: 35px;
    background-color: #091933;
    clip-path: polygon(0 0, 100% 48%, 0 100%);
} */

#services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.service-card {
    background: var(--card-bg);
    border-radius: 10px;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--card-shadow);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card i {
    font-size: 2rem;
    color: antiquewhite;
    margin-bottom: 1rem;
    background: linear-gradient(135deg,
            var(--primary-confiweb),
            var(--secondary-confiweb));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#cta {
    text-align: center;

}

#cta h2 {
    margin-bottom: 3rem;
}

#cta a {
    display: inline-block;
    padding: 1rem 2rem;
    background: var(--primary-confiweb);
    color: #fff;
    border-radius: 50px;
    text-decoration: none;
    transition: background 0.3s ease;
}

footer {
    background: var(--primary-confiweb);
    color: var(--footer-text);
    text-align: center;
    padding: 2rem 0;
    margin-top: 5rem;
}