    footer {
        background-color: var(--primary);
        border-radius: 40px 40px 0 0
    }

    footer ul {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0;
    }

    footer ul li {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    footer ul li a {
        transform: scale(1);
        transition: all 0.4s ease-in-out;
        text-decoration: none;
        color: var(--text);
        padding: 12px;
        border-radius: 20px;

    }

    footer ul li a:hover {
        background-color: var(--hover);
        backdrop-filter: blur(10px);
        transform: scale(1.1);
    }

    footer .r {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    footer .r span{
        margin-right: 1rem;
    }

    @media (min-width: 1100px) {
        footer ul {
            padding: 2rem;
            justify-content: space-evenly;
        }
    }