    footer {
        background-color: var(--primary);
        border-radius: 40px 40px 0 0
    }

    footer .logo-title {
        text-align: center !important;
        justify-content: center;
        margin-bottom: 1rem;
    }

    footer nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    footer h2 {
        font-size: 1.1rem !important;
    }

    footer ul {
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin: 0;
    }

    footer ul li {
        list-style: none;
        padding: 15px;
    }

    footer ul li a {
        transform: scale(1);
        transition: all 0.4s ease-in-out;
        text-decoration: none;
        color: var(--text);
        border-radius: 20px;
        padding: 12px;
    }

    footer ul li a:hover {
        background-color: var(--hover);
        backdrop-filter: blur(10px);
        transform: scale(1.1);
    }

    footer p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 0;
    }

    footer span {
        margin-right: 1rem;
    }

    @media (min-width: 1100px) {

        footer nav {
            flex-direction: row;
        }

        footer ul {
            padding: 2rem;
            justify-content: space-evenly;
        }
    }