@import url(root.css);

#profile .content {
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    margin: 0 auto;

}


.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    object-fit: cover;
    z-index: -1;
    transition: opacity 1s ease;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

#profile-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

#profile img {
    margin-top: 5rem;
    width: 350px;
    height: auto;
    padding: 0 !important;
    border-radius: 50%;

}

#profile #profile-name {
    font-size: 1.8rem;
    color: antiquewhite;
}

#profile h1 {
    font-size: 2rem;
    color: antiquewhite;

}

#profile .about #profile-about {
    font-size: 1.2rem;
    margin: 1rem;
    font-style: italic;
    color: antiquewhite;
}

#profile .glass-btn {
    width: 150px;
}

.glass-btn {
    padding: 1.3rem 1.6rem;
    border: 1px solid var(--hover);
    border-radius: 60px;
    background: linear-gradient(135deg,
            var(--primary),
            var(--secondary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
    width: auto;
    text-align: center;
    margin: 0 auto !important;
}

.glass-btn a {
    text-decoration: none;
    color: antiquewhite;

}

.glass-btn:hover {
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.glass-btn:active {
    transform: translateY(0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

#projects,
#studies,
#resume,
#references,
#contact {
    padding-top: 10rem;
}


.cards.fade-in {
    opacity: 0;
    transform: translateY(60px);
    filter: blur(8px);
    transition: opacity 1s ease, transform 1s ease, filter 1s ease;
}

.cards.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

#projects .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    width: 100%;
    margin-bottom: 2rem;

}

#projects #projects-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

#projects .card-project #project1-title,
#projects .card-project #project2-title,
#projects .card-project #project3-title {
    font-size: 1.8rem;
    margin: 0;
}

#projects .card-project .card-content p {
    width: 80%;
    margin: 0 auto;
    font-size: 1rem;
    font-style: italic;
}

#projects .card-project .card-content .glass-btn {
    padding: 1rem;
}

#card-cont1 {
    background-image: url("files/profile-sin-fondo.png");
}

#card-cont2 {
    background-image: url("files/profile-sin-fondo.png");
}

#card-cont3 {
    background-image: url("files/profile-sin-fondo.png");
}

#projects .card-project:hover {
    transform: scale(1.05);

}

#projects .card-project {
    position: relative;
    width: 500px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

#projects .card-project .card-content {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 10px;
}

.card-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}


.gallery-card h2 {
    color: var(--clear);

}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100dvh;
    backdrop-filter: blur(15px) saturate(180%) brightness(0.8);
    -webkit-backdrop-filter: blur(15px) saturate(180%) brightness(0.8);
    background: rgba(15, 15, 15, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow: hidden;
    z-index: 9999;
}

.modal.active {
    display: flex ;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.modal-content {
    background: rgba(255, 255, 255, 0.316);
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    margin: 5% auto;
    padding: 30px;
    width: 80%;
    border-radius: 40px;
    overflow-y: auto;
    scrollbar-width: thin;
    text-align: center;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
    color: var(--text);
    transform: translateY(30px) scale(0.95);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    overflow: hidden;
    max-height: 80vh;
    overflow-y: auto;
    scrollbar-width: thin;
}

.modal-content::-webkit-scrollbar {
    width: 8px;
}


.modal-content::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.modal-content::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

.modal-content h2 {
    font-size: 32px;
}

.modal-content .description {
    max-width: 1100px;
    margin: 0 auto;
}

.modal-content p {
    font-size: 25px;
    margin: 0 auto;
}

body.modal-open {
    overflow: hidden;
}



.modal.active .modal-content {
    transform: translateY(0) scale(1);
    opacity: 1;
}

.close {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    color: var(--text);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.close:hover {
    transform: scale(1.2);
}


@keyframes shine {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

body.modal-open {
    overflow: hidden;
    /* block scroll */
}

.ver-mais {
    text-align: center;
    margin-top: 20px;
}

.ver-mais button {
    padding: 1.3rem 1.6rem;
    border-radius: 60px;
    border: 1px solid var(--hover);
    background: linear-gradient(135deg,
            var(--primary),
            var(--secondary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 80%;
    text-align: start;
}

.ver-mais button:hover {
    background-color: var(--secondary);
}

.ver-mais .glass-btn {
    margin: 2rem;
    text-decoration: none;
}

#projects .card-project {
    width: 90%;
    height: 370px;
}

#projects .modal .content {
    width: 90%;
}

#projects .modal img {
    border-radius: 10px !important;
    margin-bottom: 16px;
}

#projects .modal h2 {
    margin-bottom: 0;
}

#projects .modal p {
    font-size: 20px;
    padding-bottom: 1rem;
}

#projects .ver-mais {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

#projects .ver-mais .glass-btn {
    margin: 0;
    width: 40%;
    padding: .7rem;
    font-size: 14px;
    text-align: center;
}

#projects .ver-mais img {
    padding: 0;
}

#projects .service-budget {
    margin: 0 auto;
    background: linear-gradient(180deg,
            var(--primary),
            var(--bg));
    backdrop-filter: blur(10px);
    border-radius: 50px 50px;
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    margin-bottom: 100px;
    padding-top: 70px;
}

#projects .service-budget summary {
    font-size: 15px;
    text-align: center;
    padding: 0;
}

#projects .service-budget ul {
    overflow-y: auto;
    scrollbar-width: thin;
}

#projects .service-budget ul::-webkit-scrollbar {
    width: 8px;
}


#projects .service-budget ul::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

#projects .service-budget ul::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

#projects .service-budget ul li {
    font-size: 15px;
}

#projects .tech-track {
    animation: scroll 5s linear infinite;
}

#projects .tech-carousel {
    width: 70%;
}

#projects .tech-track span {
    font-size: 14px;
}




.service-budget h2 {
    font-size: 50px;
    padding-top: 60px;
}

.service-budget .button {
    padding-top: 3rem;
    padding-bottom: 5rem;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
}


.service-budget .button a {
    text-decoration: none;
}

.service-budget details {
    overflow: hidden;
}

.service-budget details summary {
    letter-spacing: 4px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    display: flex;
    justify-content: center;
    padding: 1rem !important;
    border-radius: 30px;
    transform: scale(1);
    transition: all 0.4s ease-in-out;
    margin: 0 auto;
    width: 80%;
    border: 1px solid var(--hover);
    background: linear-gradient(135deg,
            var(--primary),
            var(--secondary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.service-budget summary::marker {
    display: none;
}

.service-budget summary:hover {
    backdrop-filter: blur(10px);
    transform: scale(1.1);
}

.service-budget details ul {
    background: var(--primary);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    margin: 1rem auto;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease;
    width: 80%;

}

.service-budget details[open] ul {
    max-height: 100%;
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.service-budget details li {
    padding: 1rem;
    color: var(--text);
    width: 90%;
    margin: 0 auto;
    text-align: start;
    list-style: lower-roman;
}


.tech-carousel {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: transparent;
    padding: 20px 0;
}

.tech-track {
    display: flex;
    gap: 3rem;
    animation: scroll 20s linear infinite;
}

.tech-track span {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text);
    text-shadow: 0 0 10px rgba(11, 11, 11, 0.3);
    white-space: nowrap;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.tech-track span:hover {
    transform: scale(1.2);
    color: var(--bg);
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


#studies {
    margin-bottom: 4rem;
}


#studies .content #studies-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

#studies .content .cards {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: stretch;
    gap: 20px;
}

#studies .content .cards .card-study {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(135deg,
            var(--primary),
            var(--secondary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 1rem;
    align-items: stretch;
    height: auto;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.375);
}

#studies .content .cards .card-study:hover {
    transform: scale(1.05);

}

#studies .content .cards .card-study h3 {
    text-align: center;

}

#studies #study1-desc,
#studies #study2-desc {
    text-align: center;
    margin: 0;
    font-style: italic;

}

#studies .content .cards .card-study .degrees h2 {
    font-size: 19px;
}

#studies #study1-degree1-desc,
#studies #study1-degree2-desc,
#studies #study2-degree1-desc,
#studies #study2-degree2-desc {
    font-size: 16px;
    font-style: italic;
}

#studies .cards img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 6px;
}

#studies .cards .logo-img {
    height: 30px;
    width: auto;
}

#studies .cards .l {
    margin: 0 auto;
}

#studies details {
    border-radius: 30px;
    text-align: center;
    padding: .3rem;
}

#studies details:hover {
    background: linear-gradient(135deg,
            var(--secondary),
            var(--primary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#resume {
    margin: 0 auto;
    background: linear-gradient(180deg,
            var(--primary),
            var(--bg));
    backdrop-filter: blur(10px);
    border-radius: 50px 50px;
    -webkit-backdrop-filter: blur(10px);
}

#resume #resume-title {
    font-size: 2rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
}

#resume .glass-btn {
    margin: 0 auto !important;
    width: 150px;
}

#resume #resume-title:hover {
    transform: scale(1.05);
}

#resume ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 80%;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
}

#resume .content {
    margin: 0 auto;
}

#resume ul div {
    transition: transform 0.3s ease;
    padding: 1rem;
    width: auto;
}

#resume ul div:hover {
    transform: scale(1.01);
    border-radius: 40px;
    border: 1px solid var(--hover);
    background: linear-gradient(135deg,
            var(--primary),
            var(--secondary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#resume ul div i {
    font-size: 35px;
    padding: .5rem;
    margin-left: .5rem;
    margin-bottom: 1rem;
}

#resume ul div li {
    list-style: none;
    font-size: 16px;
}

#resume #resume-cta {
    text-align: center;
    font-size: 20px;
}

#references #references-title {
    font-size: 2rem;
    text-align: center;
}

#references #references-desc {
    font-size: 17px;
    margin: 1rem;
    text-align: center;
}

#references .comments {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    padding-top: 1rem;
}

#references .comments .comment-card p,
#references .comments .comment-card h4,
#references .comments .comment-card h5 {
    margin-bottom: 10px;
    line-height: 1.6;
}

#references .comments .comment-card {
    margin: 0 auto;
    width: 85%;
    padding: 1rem;
    border-radius: 40px;
    height: auto;
    transition: transform 0.3s ease;
    border: 1px solid var(--hover);
    background: linear-gradient(135deg,
            var(--primary),
            var(--secondary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

#references .comments .comment-card:hover {
    transform: scale(1.01);
}

#contact {
    margin: 0 auto;

}

#contact .content-contact-it {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

#contact .content-contact-it .contact-it {
    padding: 1rem;
    background: linear-gradient(180deg,
            var(--hover),
            var(--bg));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    margin: 1rem;
}

#contact #contact-title {
    text-align: center;
}

#contact .content-contact-it .contact-it img {
    width: 40px;
    border-radius: 100%;
}

#contact .content-contact-it .contact-it .content {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
}

#contact .content-contact-it .contact-it .content .whatsapp-button {
    align-items: center;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
    width: auto;
}

.whatsapp-button:hover {
    transform: scale(1.03);
}

.whatsapp-button i {
    background: linear-gradient(135deg,
            var(--secondary),
            var(--primary));
    padding: .5rem;
    font-size: 26px;
    border-radius: 100%;
    margin-left: 1rem;
}

@media (min-width: 1100px) {

    #profile .content {
        position: relative;
        z-index: 2;
        max-width: 1100px;
        display: flex;
        text-align: start;
        align-items: center;
        flex-direction: row;
    }

    #profile .photo img {
        width: 450px;
    }

    .bg-video {
        height: 100%;
    }

    #profile #profile-name {
        color: antiquewhite;
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
    }

    #profile h1 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .glass-btn {
        margin: 0 1rem !important;
    }


    #projects .card-project {
        width: 500px;
        height: 400px;
    }


    .modal.active {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
    }

    .modal-content {
        margin: 2% auto;
    }

    .ver-mais a {
        width: 30% !important;
    }

    .service-budget {
        width: 100%;
    }

    .service-budget details summary {
        width: 450px;
        font-size: 1.3rem !important;
    }

    .service-budget #quote-title {
        margin-bottom: 3rem;
    }

    .service-budget ul {
        max-width: 1100px;
    }

    #studies .content #studies-title {
        text-align: center;
        font-size: 32px;
        font-weight: 600;
    }

    #studies .content .cards {
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        margin: 0 auto;
    }

    #studies #study1-title,
    #studies #study2-title {
        font-size: 25px;
    }

    #resume #resume-title {
        margin-bottom: 5rem;
    }

    #resume .glass-btn {
        margin: 0 auto !important;
    }

    #resume #resume-title:hover {
        transform: scale(1.05);
    }

    #resume ul {
        margin-bottom: 4rem;
    }

    #resume .content {
        max-width: 1100px;
    }

    #resume ul div li {
        list-style: none;
        font-size: 16px;
    }

    #resume #resume-cta {
        margin-bottom: 2rem;
    }

    #references .comments {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #contact {
        margin: 0 auto;
    }

    #contact .content-contact-it {
        max-width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}