header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav2 {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
}

header .nav2 .nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: .2rem;
  gap: 2rem;
  background: linear-gradient(135deg,
      var(--primary),
      var(--secondary));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

header .nav2 .nav-links a {
  padding: 0.2rem 1rem;
  color: var(--text);
}

header .nav2 .nav-links a:hover {
  color: var(--secondary);
  background-color: var(--hover);
}


.glass-navbar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1100px;
  padding: 0.8rem 1.5rem;
  background: linear-gradient(135deg,
      var(--primary),
      var(--secondary));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  margin-top: 25px;
}

#contentnav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--text);
  text-decoration: none;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  width: 100%;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0;
}

.nav-links a {
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
  padding: 1rem;
}

.nav-links a:hover {
  color: var(--primary);
  border-radius: 40px;
  background-color: var(--hover);
}

.scrolled {
  transition: background 0.3s ease, box-shadow 0.3s ease;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.language-switch,
.theme-toggle {
  display: inline-block;
  background: none;
  padding: 0.8rem 1.5rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 40px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.24);
  z-index: 999;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  top: 1rem;
  cursor: pointer;
  border: none;
}

.language-switch:hover {
  background-color: var(--hover);
}

.lang-btn {
  background: none;
  color: var(--text);
  border-radius: 8px;
  border: none;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  gap: 6px;
  transition: all 0.3s ease;
}

.lang-btn span {
  margin-left: .5rem;
}

.lang-menu {
  position: absolute;
  top: 110%;
  background: var(--bg);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 25px;
  list-style: none;
  padding: 5px 0;
  margin: 0;
  width: 150px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.lang-menu li {
  padding: 12px;
  cursor: pointer;
  color: var(--text);
  font-size: 14px;
  transition: background 0.2s ease;
}

.lang-menu li:hover {
  background: var(--hover);
}

.hidden {
  display: none;
}

nav {
  position: relative;
  z-index: 100;
}

.fi {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 6px;
}

.nav-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.theme-toggle {
  font-size: 20px;
  cursor: pointer;
}

.theme-toggle:hover {
  background-color: var(--hover);
  transform: scale(1.05);
}

/* Estado de tema claro */
.light-theme .theme-toggle {
  background-color: #eaeaea;
  color: var(--bg);
}

.light-theme .theme-toggle:hover {
  background-color: var(--hover);
}

.burger {
  display: none;
}

@media (max-width: 1030px) {

  header {
    width: 100%;
  }

  header .nav2 .nav-links {
    flex-direction: row !important;

  }


  .glass-navbar {
    transform: none;
    left: 50%;
    padding: 2rem;
    width: 80%;
    transform: translateX(-50%);
    max-width: 500px;
  }

  .burger {
    display: block;
    position: absolute;
    right: 0;
    top: 15px;
    cursor: pointer;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    padding-right: 2rem;
  }

  .nav-links {
    gap: 1rem;
    margin-top: 0.5rem;
  }

  #contentnav {
    display: none;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;
  }

  #contentnav.show {
    position: relative;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    display: grid;
    flex-direction: column;
    border-radius: 20px;
    margin-top: .5rem;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;

  }

  .nav-content {
    grid-column: 2 /3;
    grid-row: 1 /4;
    justify-self: center;

  }

  .nav-links {
    padding: 0;
    flex-direction: column;
  }

  .nav-content li {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .nav-content li a {
    font-size: 1rem;
    text-shadow:
      0 0 10px rgba(0, 0, 0, 0.141),
      0 0 4px rgba(0, 0, 0, 0.391);
    -webkit-text-stroke: 0.4px rgba(0, 0, 0, 0.7);
  }

  .nav-content li a:hover {
    transform: scale(1.05);
    text-shadow:
      0 0 14px rgba(0, 0, 0, 0.249),
      0 0 8px rgba(0, 0, 0, 0.7);
  }

  .language-switch {
    grid-column: 2 /3;
    grid-row: 5 /6;

  }


  .language-switch .lang-btn {
    width: 100%;
    text-align: center;
  }

  .theme-toggle {
    grid-column: 2 /3;
    grid-row: 4 /5;
    width: 100%;


  }



}