@import url(root.css);

/* Portfolio specific styles */

#profile img {
    margin-top: 5rem;
    width: 350px;
    height: auto;
    padding: 0 !important;
    border-radius: 50%;

}

#profile #profile-name-portfolio {
    font-size: 1.8rem;
    color: antiquewhite;
}

#profile h1 {
    font-size: 2rem;
    color: antiquewhite;
}

#portfolio-languages .service-budget {
    margin: 0 auto;

}

#portfolio-languages .languages-icons {
    display: flex;
    gap: 15px;
    animation: scroll 20s linear infinite;
}

#portfolio-languages .languages-track {
    display: flex;
    margin-bottom: 15px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: transparent;
    padding: 20px 0;
    width: 100%;
}

#portfolio-languages span {
    font-size: 3rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    padding: 2rem;
}

#portfolio-languages span:hover {
    transform: scale(1.2);
}

#cardModal1 .fa-brands,
#cardModal2 .fa-brands,
#cardModal3 .fa-brands,
#cardModal1 .fa-solid,
#cardModal2 .fa-solid,
#cardModal3 .fa-solid {
    font-size: 40px;
    padding: 0 .6rem 0 .6rem;
    color: var(--text);
    transition: transform 0.3s ease;
    cursor: pointer;
}

#cardModel1 .fa-brands:hover,
#cardModal2 .fa-brands:hover,
#cardModal3 .fa-brands:hover,
#cardModal1 .fa-solid:hover,
#cardModal2 .fa-solid:hover,
#cardModal3 .fa-solid:hover {
    transform: scale(1.2);
}

#cardModal1 .description h3,
#cardModal2 .description h3,
#cardModal3 .description h3 {
    margin-bottom: 0.5rem;
}

#cardModal1 .description p,
#cardModal2 .description p,
#cardModal3 .description p {
    font-size: 1rem !important;
}

#about-me {
    padding: 4rem 1rem;
    background: linear-gradient(135deg,
            var(--primary),
            var(--secondary));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text);
    border-radius: 50px 0 0 50px;
}

#about-me .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.6;
    color: var(--text);
    padding: 0 1rem;
}

#about-me #about-me-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: antiquewhite;
    text-align: center;
}


footer .nav2 .nav-links {
    flex-direction: column !important;
    gap: 10px !important;

}