:root {
  --bg: antiquewhite;
  --text: #111827;
  --primary: #1e8fffce;
  --secondary: #ff3a30ba;
  --hover: #9fa0a1a4;
}

[data-theme="dark"] {
  --bg: #0D1117;
  --text: #E6EDF3;
  --primary: #1E40AF;
  --secondary: #DC2626;
  --hover: #1c2331;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--text);
  font-family: 'Manrope', sans-serif;
}

.arrowUp {
  position: fixed;
  width: 40px;
  right: -100px;
  bottom: 20px;
  transition: all 0.5s;

}

.arrowUp .fa-solid {
  border: 1px solid var(--hover);
  background: linear-gradient(135deg,
      var(--primary),
      var(--secondary));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(10px);
  color: var(--text);
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.328);
  transition: all 0.5s;
}

.arrowUp .fa-solid:hover {
  background-color: #1E40AF;
}

.arrowUp .fa-solid:active {
  background-color: #4765c7;
}



.contactMe {
  position: fixed;
  width: 40px;
  right: -100px;
  bottom: 20px;
  transition: all 0.5s;
}

.contactMe .fa-brands {
  background-color: #25D366;
  color: black;
  align-items: center;
  padding: 10px;
  border-radius: 100%;
  box-shadow: 8px 10px 5px rgba(0, 0, 0, 0.328);
  transition: all 0.5s;
  font-size: 40px;
}

.contactMe .fa-brands:hover {
  background-color: #09f55f;
}

.contactMe .fa-brands:active {
  background-color: #61ce89;
}

html {
  scroll-behavior: smooth;
}

